/* CSS for ehnree.github.io */
/* Created by: Henry Zhou   */
/* index.html CSS */

* {
    box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: AppleGothic;
}

#wrapperBio {
	font-size: 30px;
	padding: 2vw;
}


#photo {
	padding: 20px;
	max-width: 50%;
    float:left;
    margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
}

#propic {
	border-radius: 14px;
	max-width: 85%;
}

#desc {
	width: 50%;
	float:left;
	font-size: 1.8vw;
	line-height: 20px;
	padding:5%;
}

#Name {
	text-align: center;
	font-size: 2.8vw;
	margin-bottom: 5vw;
}

#mobile_name {
	visibility: hidden;
}

a {
    color:black;
    text-decoration:none;
}

a:hover, a:focus {
    text-decoration:underline;
}

p:hover {
    text-decoration: underline;
}

.category_body {
	margin-bottom: 20px;
	margin-left: 20px;
}